/* Write some CSS below */
h1{
	color: #CE557D;
	font-family: Alkalami,serif,;
	font-weight: bold;
	text-align: center;
	font-size: 45px;
}



h3{
	color:black ;
	font-family: Dancing Script, cursive;
	text-decoration : none;
	text-align: center;
	font-size:30px;

}
p{
	color: #CE557D;
	font-family: Alkalami, cursive;
	font-size:25px;
	text-align: center;
	/*line-height*/: 1.6;
}

a{
	color: #FFFFFF;
	font-weight: arial;
	text-align: center;

}

h2{
	color: grey;
	font-family: Alkalami; serif; 
	text-decoration: none;
	text-align: center;

}

.banner{
	height: 500px;
	width:auto ;
	background-image:url(images/intérieur3.JPG);
	background-size: cover;
	text-align: center;
	padding-top: 30px;
	margin: 30px 30px 30px;
}


.bnt-blue{
background-color:#CE557D;
border-radius:5px;
width: 200px;
height: 36px;
padding: 7px 0px 0px 0px;
margin:0 auto;
text-align: center;
}


.image-card{
	width: 250px;
}

.campus-card{
	height:350px;
	width: 250px;
	border:5px solid #CE557D;
	border-radius:5px;
	background-color:#B9B9B9;
	margin: 10px;
}

.cards{
	margin: 40px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;

}

#informations{
	margin: 30px 30px 0px 30px;
	background-color: #FFF1B3;

}

